In [1]:
import pandas as pd
import numpy as np

In [ ]:
# declare a list tasks whose products you want to use as inputs
upstream = None

In [2]:
df = pd.DataFrame({'x': np.arange(100), 'y': np.arange(100)})

In [3]:
df

     x   y
0    0   0
1    1   1
2    2   2
3    3   3
4    4   4
..  ..  ..
95  95  95
96  96  96
97  97  97
98  98  98
99  99  99

[100 rows x 2 columns]

In [3]:
x = 1
y = 0
x/y

ZeroDivisionError: division by zero

> /var/folders/3h/_lvh_w_x5g30rrjzb_xnn2j80000gq/T/ipykernel_53338/2354412189.py(1)<module>()
----> 1 1/0

ipdb>  quit